/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    color: purple;
    font-size: 24px;
    font-weight: bold;
}

.dashboard {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.greeting {
    font-size: 18px;
    font-weight: bold;
}

.balance {
    font-size: 16px;
    color: #ff6b6b;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat-item {
    flex: 1;
    text-align: center;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #292929;
    border-radius: 5px;
    overflow: hidden;
    height: 8px;
}

.progress {
    background-color: #00b894;
    height: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.action-button {
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
.action-button i {
    font-size: 16px;
}

.action-button:hover {
    background-color: #444;
}

.other-actions {
    margin: 20px 0;
}

.other-actions p {
    margin-bottom: 10px;
    font-weight: bold;
}

.setting-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.setting-button i {
    font-size: 16px;
}

.setting-button:hover {
    background-color: #444;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-button {
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-button i {
    font-size: 16px;
}

.footer-button:hover {
    background-color: #444;
}
